@import url(/fonts/font.css);
.body {
  margin: 0;
  padding: 0;
  background-color: #2a2c2f;
}

.wrapper {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}
.wrapper__container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-image: url(/images/1280.jpg);
}

.header {
  max-width: 1184px;
  min-width: 288px;
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: auto;
  padding: 28px 48px 56px;
}
.header__lang_link {
  margin-right: 18px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  color: #ffffff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.header__lang_link:hover {
  opacity: 0.8;
}
.header__lang_link:last-child {
  margin-right: 0;
}

.link__active {
  text-decoration-line: underline;
}

.lead {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 984px;
  padding-bottom: 92px;
}
.lead__title {
  font-family: "Inter";
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  max-width: 720px;
}
.lead__subtitle {
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  /* or 120% */
  text-align: center;
  padding-bottom: 64px;
  margin: 0;
  max-width: 640px;
}
.lead__images {
  max-width: 984px;
  position: relative;
}
.lead__image-bg {
  max-width: 984px;
  width: 100%;
  position: relative;
}
.lead__image-nav {
  max-width: 937.09px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 90.21px;
  left: 23.27px;
}
.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
}

.intro {
  margin-left: 148px;
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__title {
  font-family: "Inter";
  font-size: 54px;
  line-height: 58px;
  font-style: normal;
  font-weight: 900;
  /* identical to box height, or 107% */
  padding-bottom: 40px;
  width: 100%;
  margin: 0;
}
.intro__text {
  font-family: "Inter";
  font-size: 16px;
  line-height: 163%;
  font-style: normal;
  font-weight: 400;
  /* or 26px */
  margin: 0;
  padding-bottom: 33px;
}
.intro__list {
  font-family: "Inter";
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  /* or 150% */
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  list-style: none;
}

.photo-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding: 92px 0;
}
.photo-grid__item {
  width: 100%;
}

.places {
  max-width: 984px;
  margin: auto;
  padding-bottom: 80px;
}

.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 460px) 40px minmax(320px, 484px);
  grid-template-columns: minmax(320px, 460px) minmax(320px, 484px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 48px;
  padding-top: 80px;
}
.place:first-child {
  padding-top: 0;
}
.place__title {
  font-family: "Inter";
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  /* or 106% */
  color: #ffffff;
  margin: 0;
  width: 100%;
}
.place__image {
  -ms-grid-column: 1;
      grid-column-start: 1;
  max-width: 460px;
  width: 100%;
}
.place__website {
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  margin: 0;
}
.place__paragraph {
  font-family: "Inter";
  font-size: 18px;
  line-height: 163%;
  font-style: normal;
  font-weight: 400;
  /* or 29px */
  color: #ffffff;
}
.place__paragraph:first-child {
  padding: 0;
  padding-top: 26px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 100%;
  margin: 0;
}

.website {
  max-width: 456px;
}
.website__url-heading {
  font-family: "Inter";
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #aaaaaa;
  padding-bottom: 12px;
}
.website__link {
  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #ffffff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.website__link:hover {
  opacity: 0.8;
}

.cover {
  padding-bottom: 92px;
}
.cover__container {
  max-width: 1184px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.cover__title {
  margin: auto;
  z-index: 1;
  position: absolute;
  max-width: 560px;
  top: 245px;
  left: 312px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
}
.cover__subtitle {
  margin: 0;
  z-index: 1;
  position: absolute;
  max-width: 360px;
  bottom: 245px;
  left: 412px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
}
.cover__background {
  width: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  margin: auto;
}

.footer {
  max-width: 1184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}
.footer__link {
  margin-left: 18px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #ffffff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__link:first-child {
  margin-left: 0;
}
.footer__copyring {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
}

@media (max-width: 1000px) {
  .wrapper__container {
    max-width: 800px;
  }
  .photo-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 16px 300px;
    grid-template-columns: repeat(2, 300px);
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: repeat(6, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    padding: 92px 0;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
}