@import url(/fonts/font.css);
.body {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
}
@media (max-width: 767px) {
  .body {
    font-size: 16px;
  }
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.header {
  max-width: 1184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 28px 48px 56px;
}
@media (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 142px;
  }
}
.header__lang-link {
  margin-right: 18px;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.link__active {
  text-decoration-line: underline;
}

.main {
  display: -ms-grid;
  display: grid;
  row-gap: 90px;
}
@media (max-width: 767px) {
  .main {
    row-gap: 64px;
  }
}

.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 984px;
}
.lead__title {
  font-family: inherit;
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  max-width: 720px;
}
@media (max-width: 767px) {
  .lead__title {
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
.lead__subtitle {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  /* or 120% */
  text-align: center;
  padding-bottom: 64px;
  margin: 0;
  max-width: 640px;
}
@media (max-width: 767px) {
  .lead__subtitle {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
.lead__images {
  position: relative;
}
@media (max-width: 767px) {
  .lead__images {
    max-width: 320px;
    width: 100%;
  }
}
.lead__image-bg {
  width: 100%;
  margin: auto;
}
.lead__image-nav {
  max-width: 937.09px;
  width: 100%;
  position: absolute;
  margin: auto;
  padding-bottom: 18%;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
}

.intro {
  max-width: 984px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.intro__title {
  font-family: inherit;
  font-size: 54px;
  line-height: 58px;
  font-style: normal;
  font-weight: 900;
  /* identical to box height, or 107% */
  padding-bottom: 40px;
  width: 100%;
  margin: 0;
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.intro__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 163%;
  font-style: normal;
  font-weight: 400;
  /* or 26px */
  margin: 0;
  padding-bottom: 33px;
}
.intro__list {
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  /* or 150% */
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  list-style: none;
}

.photo-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  width: calc(100% - 96px);
  margin: auto;
}
@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}
@media (max-width: 767px) {
  .photo-grid {
    width: calc(100% - 32px);
    gap: 16px;
  }
}
.photo-grid__item {
  width: 100%;
}

.places {
  display: -ms-grid;
  display: grid;
  gap: 80px;
}

.place {
  margin: auto;
  width: 984px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 1fr;
  grid-template-columns: 460px 1fr;
  gap: 26px 40px;
}
.place__title {
  font-family: inherit;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  color: inherit;
  margin: 0;
}
.place__image {
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}
.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  font-family: inherit;
  font-size: 18px;
  line-height: 29px;
  font-style: normal;
  font-weight: 400;
  color: inherit;
}
.place__paragraph:last-child {
  margin: 0;
}

.website__url-heading {
  font-family: inherit;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #aaaaaa;
  padding-bottom: 12px;
}
.website__link {
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: inherit;
}

.cover {
  display: none;
}
.footer {
  display: none;
}