@import url(/fonts/font.css);
.body {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 1184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 28px 48px 56px;
}
.header__lang-link {
  margin-right: 18px;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: inherit;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.header__lang-link:hover {
  opacity: 0.8;
}

.link__active {
  text-decoration-line: underline;
}

.main {
  display: -ms-grid;
  display: grid;
  row-gap: 90px;
}

.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 984px;
}
.lead__title {
  font-family: inherit;
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  max-width: 720px;
}
.lead__subtitle {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  /* or 120% */
  text-align: center;
  padding-bottom: 64px;
  margin: 0;
  max-width: 640px;
}
.lead__images {
  position: relative;
  margin-top: -90px;
}
.lead__image-bg {
  width: 100%;
  margin: 10% auto 0;
}
.lead__image-nav {
  max-width: 937.09px;
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
}

.intro {
  max-width: 984px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.intro__title {
  font-family: inherit;
  font-size: 54px;
  line-height: 58px;
  font-style: normal;
  font-weight: 900;
  /* identical to box height, or 107% */
  padding-bottom: 40px;
  width: 100%;
  margin: 0;
}
.intro__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 163%;
  font-style: normal;
  font-weight: 400;
  /* or 26px */
  margin: 0;
  padding-bottom: 33px;
}
.intro__list {
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  /* or 150% */
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  list-style: none;
}

.photo-grid {
  display: none;
}
.places {
  display: none;
}

.cover {
  display: none;
}
.footer {
  display: none;
}