.footer__copyring {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
}
@media (max-width: 767px) {
  .footer__copyring {
    padding-top: 48px;
    text-align: left;
  }
}
