.place__title {
  font-family: inherit;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  color: inherit;
  margin: 0;
}
@media (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 340px) {
  .place__title {
    width: calc(100% - 16px * 2);
    margin: auto;
  }
}
