.place__title {
  font-family: inherit;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  color: inherit;
  margin: 0;
}
@media (max-width: 767px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
