@import url(/fonts/font.css);

@mixin _1024 {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin _979 {
  @media (max-width: 979px) {
    @content;
  }
}
@mixin _767 {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin _350 {
  @media (max-width: 350px) {
    @content;
  }
}

.body {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  @include _1024() {
    font-size: 16px;
  }
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  // background-image: url(/images/1280.jpg);
  // background-image: url(/images/1280.jpg);
  // background-image: url(/images/1280.jpg);
  // background-image: url(/images/1280.jpg);
}
.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 48px 56px;
  @include _767() {
    padding: 16px 16px 48px;
  }
  &__container {
    max-width: calc(100% - 48px * 2);
    @include _767() {
      max-width: calc(100% - 24px * 2);
    }
  }

  // .header__logo

  &__logo {
    max-width: 176px;
    @include _767() {
      max-width: 142px;
    }
  }

  // .header__lang-links

  &__lang-links {
  }

  // .header__lang_link

  &__lang-link {
    margin-right: 18px;
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: inherit;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
    &:last-child {
      margin-right: 0;
    }
    @include _1024() {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
.link {
  // .link__active

  &__active {
    text-decoration-line: underline;
  }
}
.main {
  display: grid;
  row-gap: 90px;
  @include _1024() {
    row-gap: 64px;
  }
  &__container {
  }
}
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  &__container {
    max-width: calc(100% - 148px * 2);
    width: 100%;
    @include _1024() {
      max-width: 100%;
    }
  }

  // .lead__title

  &__title {
    font-family: inherit;
    font-size: 96px;
    line-height: 100px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    max-width: 720px;
    @include _767() {
      max-width: 288px;
      padding-bottom: 16px;
      font-size: 40px;
      line-height: 44px;
    }
  }

  // .lead__subtitle

  &__subtitle {
    font-family: inherit;
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    /* or 120% */
    text-align: center;
    padding-bottom: 64px;
    margin: 0;
    max-width: 640px;
    @include _767() {
      max-width: 288px;
      padding-bottom: 40px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  // .lead__images

  &__images {
    position: relative;
    @include _1024() {
      width: 100%;
    }
  }

  // .lead__image-bg

  &__image-bg {
    max-width: 100%;
    margin: auto;
  }

  // .lead__image-nav

  &__image-nav {
    max-width: 100%;
    position: absolute;
    margin: auto;
    padding-bottom: 18%;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  // .lead__caption

  &__caption {
    font-size: 10px;
    line-height: 14px;
    font-style: normal;
    font-weight: 400;
    /* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 8px;
    align-self: start;
    margin: 0;
  }
}
.intro {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__container {
    max-width: calc(100% - 16px * 2);
    width: 100%;
  }
  // .intro__title

  &__title {
    font-family: inherit;
    font-size: 54px;
    line-height: 58px;
    font-style: normal;
    font-weight: 900;
    /* identical to box height, or 107% */
    padding-bottom: 40px;
    width: 100%;
    margin: 0;
    @include _767() {
      font-size: 32px;
      line-height: 35px;
    }
  }

  // .intro__text

  &__text {
    font-family: inherit;
    font-size: 16px;
    line-height: 163%;
    font-style: normal;
    font-weight: 400;
    /* or 26px */
    margin: 0;
    padding-bottom: 33px;
  }

  // .intro__list

  &__list {
    font-family: inherit;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
    /* or 150% */
    margin: 0;
    padding: 0;
    align-self: start;
    list-style: none;
  }
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: auto;

  &__container {
    width: calc(100% - 48px * 2);
    @include _767(){
      width: calc(100% - 16px * 2);
    }
  }

  // .photo-grid__item

  &__item {
    max-width: 100%;
  }
}
.place {
  margin: auto;
  display: grid;
  gap: 80px;
  @include _767() {
    gap: 64px;
  }
  &__container {
    max-width: calc(100% - 148px * 2);
    width: 100%;
    @include _1024(){
      max-width: calc(100% - 48px * 2);
    }
    @include _767() {
      max-width: calc(100% - 24px * 2);
    }

  }
  &__item {
    max-width: 984px;
    margin: auto;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 26px 40px;
    // .place__title
    @include _1024(){
      grid-template-columns: 352px 1fr;
    }
    @include _767() {
      grid-template-columns: 1fr;
    }

  }

  &__title {
    font-family: inherit;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    font-weight: 900;
    color: inherit;
    margin: 0;
    @include _767() {
      font-size: 42px;
      line-height: 46px;
    }
  }

  // .place__image

  &__image {
    max-width: 100%;
    grid-row: 2;
    grid-column: 1;
    @include _767(){
      grid-row: 3;
    }
  }

  // .place__website

  &__website {
  }

  // .place__disc

  &__disc {
  }

  // .place__paragraph

  &__paragraph {
    margin: 0;
    margin-bottom: 27px;
    font-family: inherit;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    &:last-child {
      margin: 0;
    }
    @include _1024() {
      font-size: 16px;
    }
  }
}
.website {
  display: flex;
  flex-direction: column;
  justify-content: end;

  // .website__url-heading

  &__url-heading {
    font-family: inherit;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: 400;
    /* identical to box height, or 100% */
    letter-spacing: 2px;
    color: #aaaaaa;
    padding-bottom: 12px;
    @include _1024() {
      line-height: 12px;
    }
  }

  // .website__link

  &__link {
    font-family: inherit;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: inherit;
  }
}
.cover {
  // .cover__link

  &__container {
    max-width: calc(100% - 48px * 2);
    width: 100%;
    margin: auto;
    position: relative;
    @include _1024() {
      max-width: 100%;
    }
  }

  &_bg {
    width: 100%;
    z-index: 0;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #2a2c2f;
      opacity: 0.3;
      z-index: 2;
      transition: opacity 0.6s;
    }
    &:hover::after {
      background: #2a2c2f;
      opacity: 0.8;
      z-index: 2;
    }
  }

  // .cover__title

  &__title {
    margin: auto;
    padding: 0;
    margin: 0;
    max-width: 560px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    z-index: 3;
    @include _767() {
      max-width: 288px;
      font-size: 32px;
      line-height: 35px;
    }
  }

  // .cover__subtitle

  &__subtitle {
    max-width: 360px;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    z-index: 3;
    @include _767() {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.footer {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
  @include _767 {
    padding-top: 64px;
    padding-bottom: 24px;
    flex-direction: column;
  }

  &__container {
    max-width: calc(100% - 48px * 2);
    width: 100%;
  }

  // .footer__links

  &__links {
    @include _767() {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
    }
  }

  // .footer__link

  &__link {
    margin-right: 18px;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #ffffff;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
    @include _767() {
      font-size: 24px;
      line-height: 24px;
    }
  }

  // .footer__copyring

  &__copyring {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    @include _767() {
      padding-top: 48px;
      text-align: left;
    }
  }
}
