.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
}