.place__container {
  max-width: calc(100% - 296px);
  width: 100%;
}
@media (max-width: 1024px) {
  .place__container {
    max-width: calc(100% - 32px);
  }
}

@media (max-width: 340px) {
  .place__container {
    max-width: 100%;
  }
}
