.cover__title {
  margin: auto;
  z-index: 1;
  position: absolute;
  max-width: 560px;
  top: 245px;
  left: 312px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
}