.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 460px) 40px minmax(320px, 484px);
  grid-template-columns: minmax(320px, 460px) minmax(320px, 484px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 48px;
  padding-top: 80px;
}