.footer__container {
  max-width: calc(100% - 96px);
  width: 100%;
}
@media (max-width: 1024px) {
  .footer__container {
    max-width: calc(100% - 16px * 2);
    margin: auto;
  }
}
@media (max-width: 340px) {
  .footer__container {
    max-width: calc(100% - 16px * 2);
    margin: auto;
  }
}
