.intro__list {
  font-family: "Inter";
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  /* or 150% */
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  list-style: none;
}