.lead__title {
  font-family: inherit;
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  max-width: 720px;
}
@media (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
