@import url(/fonts/font.css);

.body {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}
.wrapper {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  // background-image: url(/images/1280.jpg);
  // background-image: url(/images/1280.jpg);
  // background-image: url(/images/1280.jpg);
  // background-image: url(/images/1280.jpg);
}
.header {
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  padding: 28px 48px 56px;


		// .header__logo

		&__logo {
		}

		// .header__lang-links

		&__lang-links {
		}

		// .header__lang

		&__lang {

			// .header__lang_link

			&_link {
        margin-right: 18px;
        text-decoration: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
        text-align: right;
        color: #ffffff;
        transition: opacity 0.2s;
			}
		}
}
.link {

		// .link__active

		&__active {
		}
}
.main {
}
.lead {

		// .lead__title

		&__title {
		}

		// .lead__subtitle

		&__subtitle {
		}

		// .lead__images

		&__images {
		}

		// .lead__image-bg

		&__image-bg {
		}

		// .lead__image-nav

		&__image-nav {
		}

		// .lead__caption

		&__caption {
		}
}
.intro {
  display: none;

		// .intro__title

		&__title {
		}

		// .intro__text

		&__text {
		}

		// .intro__list

		&__list {
		}
}
.container {

		// .container__l

		&__l {
		}

		// .container__x

		&__x {
		}
}
.photo-grid {
  display: none;

		// .photo-grid__item

		&__item {
		}
}
.places {
  display: none;
}
.place {

		// .place__title

		&__title {
		}

		// .place__image

		&__image {
		}

		// .place__website

		&__website {
		}

		// .place__disc

		&__disc {
		}

		// .place__paragraph

		&__paragraph {
		}
}
.website {

		// .website__url-heading

		&__url-heading {
		}

		// .website__link

		&__link {
		}
}
.cover {
  display: none;

		// .cover__link

		&__link {
		}

		// .cover__title

		&__title {
		}

		// .cover__subtitle

		&__subtitle {
		}
}
.footer {
  display: none;

		// .footer__links

		&__links {
		}

		// .footer__link

		&__link {
		}

		// .footer__copyring

		&__copyring {
		}
}
