@import url(/fonts/font.css);
.body {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .body {
    font-size: 16px;
  }
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.header {
  max-width: 1184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 28px 48px 56px;
}
@media (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}
.header__container {
  max-width: calc(100% - 96px);
}
@media (max-width: 767px) {
  .header__container {
    max-width: calc(100% - 48px);
  }
}
.header__logo {
  max-width: 176px;
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 142px;
  }
}
.header__lang-link {
  margin-right: 18px;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link:last-child {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.link__underline {
  text-decoration-line: underline;
}

.main {
  display: -ms-grid;
  display: grid;
  row-gap: 90px;
}
@media (max-width: 1024px) {
  .main {
    row-gap: 64px;
  }
}
.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.lead__container {
  max-width: calc(100% - 296px);
  width: 100%;
}
@media (max-width: 1024px) {
  .lead__container {
    max-width: 100%;
  }
}
.lead__title {
  font-family: inherit;
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  max-width: 720px;
}
@media (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
.lead__subtitle {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  /* or 120% */
  text-align: center;
  padding-bottom: 64px;
  margin: 0;
  max-width: 640px;
}
@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
.lead__images {
  position: relative;
}
@media (max-width: 1024px) {
  .lead__images {
    width: 100%;
  }
}
.lead__image-bg {
  max-width: 100%;
  margin: auto;
}
.lead__image-nav {
  max-width: 100%;
  position: absolute;
  margin: auto;
  padding-bottom: 18%;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
}

.intro {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.intro__container {
  max-width: calc(100% - 292px);
  width: 100%;
}
@media (max-width: 767px) {
  .intro__container {
    max-width: calc(100% - 32px);
  }
}
.intro__title {
  font-family: inherit;
  font-size: 54px;
  line-height: 58px;
  font-style: normal;
  font-weight: 900;
  /* identical to box height, or 107% */
  padding-bottom: 40px;
  margin: 0;
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.intro__text {
  max-width: 690px;
  font-family: inherit;
  font-size: 16px;
  line-height: 163%;
  font-style: normal;
  font-weight: 400;
  /* or 26px */
  margin: 0;
  padding-bottom: 33px;
}
.intro__list {
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
  /* or 150% */
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  list-style: none;
}

.photo-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: auto;
}
.photo-grid__container {
  width: calc(100% - 96px);
}
@media (max-width: 767px) {
  .photo-grid__container {
    width: calc(100% - 32px);
  }
}
.photo-grid__item {
  max-width: 100%;
}

.place {
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 80px;
}
@media (max-width: 767px) {
  .place {
    gap: 64px;
  }
}
.place__container {
  max-width: calc(100% - 296px);
  width: 100%;
}
@media (max-width: 1024px) {
  .place__container {
    max-width: calc(100% - 96px);
  }
}
@media (max-width: 767px) {
  .place__container {
    max-width: calc(100% - 48px);
  }
}
.place__item {
  max-width: 984px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 1fr;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}
@media (max-width: 1024px) {
  .place__item {
    -ms-grid-columns: 352px 1fr;
    grid-template-columns: 352px 1fr;
  }
}
@media (max-width: 767px) {
  .place__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.place__title {
  font-family: inherit;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  color: inherit;
  margin: 0;
}
@media (max-width: 767px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
.place__image {
  max-width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}
@media (max-width: 767px) {
  .place__image {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}
.place__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.place__url {
  font-family: inherit;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #aaaaaa;
  padding-bottom: 12px;
}
@media (max-width: 1024px) {
  .place__url {
    line-height: 12px;
  }
}
.place__link {
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 122% */
  color: inherit;
}
.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  font-family: inherit;
  font-size: 18px;
  line-height: 29px;
  font-style: normal;
  font-weight: 400;
  color: inherit;
}
.place__paragraph:last-child {
  margin: 0;
}
@media (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
  }
}

.cover__container {
  max-width: calc(100% - 96px);
  width: 100%;
  margin: auto;
  position: relative;
}
@media (max-width: 1024px) {
  .cover__container {
    max-width: 100%;
  }
}
.cover_bg {
  width: 100%;
  z-index: 0;
}
.cover__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a2c2f;
  opacity: 0.3;
  z-index: 2;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.cover__link:hover::after {
  background: #2a2c2f;
  opacity: 0.8;
  z-index: 2;
}
.cover__title {
  margin: auto;
  padding: 0;
  margin: 0;
  max-width: 560px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  z-index: 3;
}
@media (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
.cover__subtitle {
  max-width: 360px;
  padding: 0;
  margin: 0;
  z-index: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  z-index: 3;
}
@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__container {
  max-width: calc(100% - 96px);
  width: 100%;
}
@media (max-width: 767px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }
}
.footer__link {
  margin-right: 18px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #ffffff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer__link:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
.footer__copyring {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
}
@media (max-width: 767px) {
  .footer__copyring {
    padding-top: 48px;
    text-align: left;
  }
}