.lead__subtitle {
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  /* or 120% */
  text-align: center;
  padding-bottom: 64px;
  margin: 0;
  max-width: 640px;
}