.website__link {
  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #ffffff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}