.cover__title {
  margin: auto;
  padding: 0;
  margin: 0;
  max-width: 560px;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  z-index: 3;
}
@media (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
