/* .lead__container {
  max-width: calc(100% - 296px);
  width: 100%;
}
@media (max-width: 1024px) {
  .lead__container {
    max-width: calc(100% - 48px * 2);
  }
}
@media (max-width: 768px) {
  .lead__container {
    max-width: 100%;
  }
} */
