.place {
  max-width: calc(100% - 148px * 2);
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 80px;
}
@media (max-width: 1024px) {
  .place {
    max-width: calc(100% - 48px * 2);
  }
}
@media (max-width: 768px) {
  .place {
    max-width: calc(100% - 24px * 2);
    gap: 73px;
  }
}
@media (max-width: 340px) {
  .place {
    gap: 50px;
    max-width: 100%;
  }
}
