.footer {
  max-width: calc(100% - 96px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 16px * 2);
    margin: auto;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 340px) {
  .footer {
    max-width: calc(100% - 16px * 2);
    margin: auto;
  }
}
