.place__url {
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-weight: 400;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #aaaaaa;
  padding-bottom: 12px;
}
