.place__item {
  max-width: 984px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 1fr;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}
@media (max-width: 1024px) {
  .place__item {
    -ms-grid-columns: 440px 1fr;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}
@media (max-width: 768px) {
  .place__item {
    -ms-grid-columns: 340px 1fr;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}
@media (max-width: 650px) {
  .place__item {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
